# Instalacion de Dependencias para el proyecto

# Framework principal
Django

# Para consumir APIs externas
requests
# Django REST Framework para crear APIs
djangorestframework

# Para validación adicional y utilidades
python-decouple==3.8  # Para variables de entorno
Pillow==10.1.0  # Si necesitas manejo de imágenes

# Para instalar las dependencias, ejecutar:
# pip install -r requirements.txt

psycopg2-binary